volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:16.6-alpine
    container_name: foodgram_db
    env_file:
      - .env
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: "django"
      POSTGRES_USER: "django"
      POSTGRES_PASSWORD: "django"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
  backend:
    build: ../backend/
    env_file: .env
    depends_on:
      - db
    volumes:
      - static:/staticfiles
      - media:/app/media/

  frontend:
    build: ../frontend
    command: cp -r /app/build/. /staticfiles/
    volumes:
      - static:/staticfiles

  nginx:
    image: nginx:1.25.4-alpine
    ports:
      - "127.0.0.1:8888:80"
    depends_on:
      - backend
      - frontend
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static:/staticfiles
      - media:/media/
